<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/header') %>

        <main>
            <% if(images.length==0) { %>
                <p>Todavía no hay imágenes en tu galería. ¡Añade una haciendo click <a href="">aquí</a>!</p>
                <% } else{ %>
                    <p>Tu galería tiene X imágenes</p>
                    <% } %>
                        <!-- Generar tants articles com imatges hi hagi -->
                        <section class="container mt-4">
                            <% images.forEach(function (i){ %>
                                <article>
                                    <p>
                                        <%= i.title %>
                                    </p>
                                    <img src="<%= i.url %>" alt="<%= i.title %>">
                                </article>
                                <% }) %>
                        </section>



        </main>
        <%- include('./partials/footer') %>

            <script src="" async defer></script>
</body>

</html>